DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=change-me

API_ID=123456
API_HASH=change-me
STRING_SESSION=change-me
BOT_TOKEN=change-me

PROXY_CHAT_ID=-1003518762032
FILTERED_CHAT_ID=-1003722286620

TG_PROXY_ENABLED=true
TG_PROXY_HOST=127.0.0.1
TG_PROXY_PORT=1081
